# This is a comment

# CODEOWNER FILE
# 
# This will add an extra layer of protection for the master/dev branch.
# This will automatically create a required review request from the users below before merging a branch.



*             @indomie858    @dpalencia   @frankmaayn  @darknessvolt   @anne-xay     @ryunosuke500  @FrankJoseph  @Ryunosuke

